h1 {
    color: red;
    font-size: 50px;
}
h2 {
    color: green;

}
h1, h2 {
    color: purple;
}
.food {
    color: orange;
}
li {
    color: blue;
}
img.starwars {
    width: 100px;
}
img.animals {
    width: 400px;
}
body{
    background-image: url(horse.jpg);
    font-family: Helvetica;
    text-shadow: 10px 10px 10px red;
    text-align: center;
    background-size: cover
}