.navbar-brand {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    color: midnightblue;
}

.nav-link {
    font-family: 'Nunito', sans-serif;
}

.jumbotron {
    font-family: 'Nunito', sans-serif;
    background-image: url(bitcoin.jpg);
    background-position: center;
    background-size: cover;
    text-shadow: black 1px 1px 3px;
    color: white
}

.display-4 {
    font-weight: 800;
}

.tagline {
    font-style: italic;
}

.container-footer {
    background-color: darkgrey;
    }

.logo {
    font-size: xx-large;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    color: black;
    margin-bottom: 0px;
}

.subtext {
    font-size: xx-small;
}

body {
    font-family: 'Nunito', sans-serif;
}

.my-4 {
    border-width: 0px;
}

.form-check-label {
    font-size: x-small;
}

.jumbop {
    margin-bottom: 0;
}

.img-circle {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
